/* ------------------------*/
/* Catppuccin Mocha - Dark */
/* ------------------------*/

/* @define-color bg_main #1e1e2e; */
@define-color bg_main rgba(30, 30, 46, 0.8);
@define-color text_main #cdd6f4;
@define-color accent #cba6f7;
@define-color battery_critical #f38ba8; /* red */
@define-color battery_charging #a6e3a1; /* green */
@define-color overlay rgba(255,255,255,0.1);
