/* -----------------------------------------------------
 * Import
 * ----------------------------------------------------- */

@import "./colors.css";

* {
  border: none;
  border-radius: 24px;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  background-color: @bg_main;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
  margin-left: 2px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 0px 12px;
  margin: 4px 2px;
  border-radius: 24px;
  background-color: @accent;
  opacity: 0.5;
  color: @text_main;
}

#workspaces button.active {
  color: @text_main;
  background: @accent;
  opacity: 0.8;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#taskbar,
#clock,
#tray {
  border-radius: 24px;
  margin: 0 22px;
  padding: 0;

  color: @text_main;
  box-shadow: inset 0 -3px transparent;
}

#tray {
  margin: 0 12 0 12px;
  padding: 0;
}


#taskbar {
  margin-left: 0;
}

#battery.discharging {
  color: @text_main;
}

#battery.critical {
  color: @battery_critical;
}

#battery.charging {
  color: @battery_charging;
}

#clock {
  margin: 4px 4px 4px 16px;
  padding: 0 12px;
  border: 2px solid @accent;
  color: @accent;
}

#power-profiles-daemon {
  min-width: 32px;
  color: @text_main;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
