/* ------------------------*/
/* Matugen Generated - Dark */
/* ------------------------*/

/* Core colors from Matugen JSON */
@define-color bg_main #111418;          /* Background */
@define-color text_main #e1e2e8;    /* Main text */
@define-color accent #a2c9fe;          /* Accent / highlight */

@define-color battery_critical #ffb2b9;
@define-color battery_charging #95d5a7;
@define-color overlay rgba(255,255,255,0.1);
