/* ------------------------*/
/* Matugen Generated - Dark */
/* ------------------------*/

/* Core colors from Matugen JSON */
@define-color bg_main #0e1416;          /* Background */
@define-color text_main #dee3e5;    /* Main text */
@define-color accent #83d2e4;          /* Accent / highlight */

@define-color battery_critical #ffb2b9;
@define-color battery_charging #95d5a7;
@define-color overlay rgba(255,255,255,0.1);
