/* ------------------------*/
/* Matugen Generated - Dark */
/* ------------------------*/

/* Core colors from Matugen JSON */
@define-color bg_main #181115;          /* Background */
@define-color text_main #eddfe4;    /* Main text */
@define-color accent #fab1da;          /* Accent / highlight */

@define-color battery_critical #ffb2b9;
@define-color battery_charging #b7d085;
@define-color overlay rgba(255,255,255,0.1);
