/* -----------------------------------------------------
 * Import
 * ----------------------------------------------------- */

@import "./colors.css";

* {
  all: unset;
  background-image: none;
  box-shadow: none;
  font-family: "JetBrains Mono Nerd Font", monospace;
}

window {
  background: url("../../global/current_wallpaper.png"), rgba(31, 33, 36, 0.7);
  background-size: cover;
  background-position: center;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  transition: 200ms linear;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px;
  color: #e3e6f0;
  background-color: rgba(31, 33, 36, 0.2);
  border: #c1c4cb 5px solid;
  box-shadow: 2px 3px 8px rgba(31, 33, 36, 0.5);
}

button:hover,
button:focus {
  background-color: @bg-color;
  border: @border-color 5px solid;
}

button:focus {
  background-size: 22%;
}

button:active {
  background-color: @bg-color;
  border: @border-color 5px solid;
}

#lock {
  background-image: url("./icons/lock.png");
  background-size: 32px;
}

#logout {
  background-image: url("./icons/logout.png");
  background-size: 32px;
}

#suspend {
  background-image: url("./icons/suspend.png");
  background-size: 32px;
}

#hibernate {
  background-image: url("./icons/hibernate.png");
  background-size: 32px;
}

#shutdown {
  background-image: url("./icons/shutdown.png");
  background-size: 32px;
}

#reboot {
  background-image: url("./icons/reboot.png");
  background-size: 32px;
}
