/*****----- Color Palette (Dracula) -----*****/
* {
    primary-color:       #ff79c6;
    secondary-color:     #bd93f9;
    background-color:    #282a36;
    text-color:          #f8f8f2;
    foreground-color:    #21222c;
}
