/*****----- Color Palette (Everforest) -----*****/
* {
    primary-color:               #a7c080;  
    secondary-color:             #7fbbb3; 
    background-color:            #2b3339;
    text-color:                  #d3c6aa;
    foreground-color:            #374247;
}
