

/*****----- Color Palette (Matugen Theme) -----*****/
* {
    text-color:                  #eddfe4;
    primary-color:               #fab1da;
    secondary-color:               #debecd;
    background-color:            #181115;
    foreground-color:            #211a1d;
    font: "JetBrains Mono Nerd Font 14";
}

