/*****----- Configuration (Monochrome) -----*****/

* {
    primary-color:               #aaaaaa;  
    secondary-color:             #666666;  
    background-color:            #0a0a0a;  
    text-color:                  #e0e0e0;   
    foreground-color:            #1a1a1a;   
    font: "JetBrains Mono Nerd Font 14";
}
