
/*****----- Color Palette (Solarized Osaka) -----*****/
* {
    primary-color:               #b58900;
    secondary-color:             #2176c7;
    background-color:            #0a1a1f;   /* Base */
    text-color:                  #d0d7df;   /* Text */
    foreground-color:            #132b32;    /* Surface0 */

}
