* {
    /* Tokyo-Night*/

    primary-color:               #7aa2f7;  
    secondary-color:             #565f89;  
    background-color:            #1a1b26;   
    text-color:                  #c0caf5;   
    foreground-color:            #292e42;   
}

