* {
    /* Core */

    primary-color:               #7aa2f7;   /* blue */
    secondary-color:             #565f89;   /* comment */
    background-color:            #1a1b26;   /* bg */
    text-color:                  #c0caf5;   /* fg */
    foreground-color:                    #292e42;   /* bg_highlight */

}

