/* -----------------------------------------------------
 * zenbones (stark) Gray
 * ----------------------------------------------------- */

@define-color bg-color #0a0a0a; /* Deep black background */
@define-color border-color #aaaaaa; /* Neutral gray border (accent) */
