/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #1a1111;
@define-color border-color #ffb3af;
