/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #121318;
@define-color border-color #b1c5ff;
