/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #181115;
@define-color border-color #fab1da;
