/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #0e1416;
@define-color border-color #83d2e4;
