/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #141318;
@define-color border-color #c8bfff;
