/* -----------------------------------------------------
 * Matugen Generated
 * ----------------------------------------------------- */

@define-color bg-color     #0e1415;
@define-color border-color #80d4d5;
