/* -----------------------------------------------------
 * Tokyo Night (true palette)
 * ----------------------------------------------------- */

@define-color bg-color #1a1b26;
/* bg */
@define-color border-color #7aa2f7;
/* blue */
